:root {
  --color-gray-1: #333;
  --color-gray-2: #414141;
  --color-gray-3: #5a5a5a;
  --color-gray-4: #999;
  --color-gray-5: #dedede;
  --color-olive-1: #595f43;
  --color-olive-2: #8b966c;
  --color-olive-3: #abb78a;
  --color-olive-4: #c4cfa3;
  --color-olive-5: #d8ddca;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "VT323", monospace;
}

body,
.snake {
  background-color: var(--color-gray-2);
}

#game-screen {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

.game-border-outer {
  border: var(--color-olive-1) solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px var(--color-olive-1);
}

.game-border-middle {
  border: var(--color-olive-3) solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px var(--color-olive-3);
}

.game-border-inner {
  border: var(--color-olive-2) solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px var(--color-olive-2);
}

#instruction-text {
  position: absolute;
  top: 60%;
  color: var(--color-gray-1);
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: var(--color-olive-3);
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: var(--color-olive-5);
  display: none;
}

.game-border-inner,
#logo {
  background-color: var(--color-olive-4);
}

.snake {
  border: var(--color-gray-3) 1px dotted;
}

.food {
  background-color: var(--color-gray-5);
  border: var(--color-gray-4) 5px solid;
}

#logo {
  position: absolute;
}
